{%extends 'base.html'%}


{%block content%}
<style>
    div{
        font-size: medium;
        
    }
    img{
        width: 100%;
    }
    hr{
        color: rgb(255, 0, 0);
    }
    h1{
        color: rgb(227, 255, 71);
        box-shadow: 0 10px 80px rgb(15, 179, 15); 
        background-color: rgb(6, 51, 25);


    }
    th{
        column-span: 0;
    }
    tr{
        border: thick;
    }
    .space{
        width: 0rem;
        padding: 10px;
    }
    
</style>
<div style="width: 100%; height: auto; float: left; background-color: rgba(0,0,0,.5); border-radius: 25px;">
    <nav class="navbar navbar-expand-lg navbar-light " style="border-radius: 25px 25px 0px 0px; width: 100%; color: white; background-color: #96b198;">
    <ul class="navbar-nav mr-auto" >
        <li class="nav-item" style="color: white;">
            <a class="nav-link" style="font-size:x-large" href="Adminhome">ADMIN HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"style="font-size:x-large" href="logoutadmin">LOGOUT</a>
          </li>
              
      </ul>
    </nav>
    <table style="width: 100%; text-align: center; color: azure; ">
        <thead>
            <tr >
                <th class="space">Id</th> <br>             
                <th class="space">Name</th>
                <th class="space">Aadhar No</th>
                <th class="space">Contact no</th>
                <th class="space">Status</th>
                <th class="space">approve</th>
                <th class="space">decline</th>
            </tr>
        </thead>
        <tbody>
              
            {% for i in client_obj %}
            <tr>
                <td class="space">{{i.id}}</td>
                <td class="space">{{i.clientname}}</td>
                <td class="space">{{i.adhar}}</td>
                <td class="space">{{i.contactno}}</td>
                
                

                {% if i.status %}
                <td class="space"><small >Approved</small></td>
                {%else%}
                <td class="space"><small >Decline<d/small></td>
                {% endif %}  
                <td class="space"><a href="{% url 'clientapproval' i.id %}" class="btn btn-success badge">Approve</a></td>
                <td class="space"><a href="{% url 'clientdecline' i.id %}" class="btn btn-danger badge">Decline</a></td> 
            </tr>
            {%endfor%}
            </tbody>
        </table>
        </div> 
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" style="font-size:x-large" href="Adminhome">Admin Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"style="font-size:x-large" href="logoutadmin">Logout</a>
          </li>
              
      </ul>
      
    </div>
  </nav> -->

<!-- <div class="container">
    
    <div class="border rounded p-8 m-8">
         <div style="text-align: center;" ><h1 >Approve Client</h1></div>
         <div>
         <hr>
         <table>
             <thead>
                 <tr>
                     <th class="space">Id</th> <br>             
                     <th class="space">Name</th>
                     <th class="space">Aadhar No</th>
                     <th class="space">Contact no</th>
                     <th class="space">Status</th>
                 </tr>
             </thead>
             <td>1</td>
             <td>2</td>
             <td>3</td>
             <td>4</td>
             <td>5</td>

             <tbody>
              
                    {% for i in client_obj %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.clientname}}</td>
                        <td>{{i.adhar}}</td>
                        <td>{{i.contactno}}</td>
                        
                        

                        {% if i.status %}
                        <td><small >Approved</small></td>
                        {%else%}
                        <td><small >Decline<d/small></td>
                        {% endif %}  
                        <td><a href="{% url 'clientapproval' i.id %}" class="btn btn-success badge">Approve</a></td>
                        <td><a href="{% url 'clientdecline' i.id %}" class="btn btn-danger badge">Decline</a></td> 
                    </tr>
                    </tbody>
                    </table>
         </div>

                
                    {%endfor%}

             </tbody>
         </table>
    </div>
    </div> -->


{%endblock%}